RewriteEngine On

RewriteRule ^pacientes/?$ list_paciente.php [L,QSA]
RewriteRule ^hospitais/?$ list_hospital.php [L,QSA]
RewriteRule ^estipulantes/?$ list_estipulante.php [L,QSA]
RewriteRule ^seguradoras/?$ list_seguradora.php [L,QSA]
RewriteRule ^internacoes/lista/?$ list_internacao.php [L,QSA]
RewriteRule ^internacoes/rah/?$ list_internacao_cap_rah.php [L,QSA]
RewriteRule ^internacoes/rah/finalizadas/?$ contas_finalizadas_rah.php [L,QSA]
RewriteRule ^internacoes/rah/senhas/?$ senhas_finalizadas_rah.php [L,QSA]
RewriteRule ^internacoes/uti/?$ list_internacao_uti.php [L,QSA]
RewriteRule ^internacoes/ciclo/?$ list_internacao_ciclo.php [L,QSA]
RewriteRule ^internacoes/sem-senha/?$ list_internacao_sem_senha.php?sem_senha=1 [L,QSA]
RewriteRule ^menu/?$ menu.php [L,QSA]
RewriteRule ^dashboard/?$ menu_app.php [L,QSA]
RewriteRule ^internacoes/nova/?$ cad_internacao.php [L,QSA]
RewriteRule ^censo/lista/?$ list_censo.php [L,QSA]
RewriteRule ^censo/novo/?$ cad_censo.php [L,QSA]
RewriteRule ^gestao/?$ list_gestao.php [L,QSA]
RewriteRule ^visitas/lista/?$ lista_visitas.php [L,QSA]
RewriteRule ^hub_paciente/paciente([0-9]+)/?$ hub_paciente.php?id_paciente=$1 [L,QSA]
RewriteRule ^hub_paciente/?$ hub_paciente.php [L,QSA]
RewriteRule ^internacoes/gerar-alta/pagina/([0-9]+)/?$ list_internacao_gerar_alta.php?pag=$1 [L,QSA]
RewriteRule ^internacoes/gerar-alta/?$ list_internacao_gerar_alta.php [L,QSA]
RewriteRule ^internacoes/reverter-alta/?$ list_internacao_alta.php [L,QSA]
RewriteRule ^internacoes/reverter-alta/pagina/([0-9]+)/?$ list_internacao_alta.php?pag=$1 [L,QSA]
RewriteRule ^listas/altas/?$ list_internacao_alta_lista.php [L,QSA]
RewriteRule ^listas/altas/pagina/([0-9]+)/?$ list_internacao_alta_lista.php?pag=$1 [L,QSA]
RewriteRule ^negociacoes/pagina/([0-9]+)/?$ list_negociacoes.php?pag=$1 [L,QSA]
RewriteRule ^negociacoes/?$ list_negociacoes.php [L,QSA]
RewriteRule ^negociacoes/graficos/?$ negociacoes_graficos.php [L,QSA]
